package rabbit_mq_client

type RabbitMqConfig struct {
	Username    string `json:"userName"`
	Password    string `json:"password"`
	Host        string `json:"host"`
	Port        int    `json:"port"`
	VirtualHost string `json:"virtualHost"`
}
